.green {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	justify-content:center;
	margin: 10px;
	border: 10px solid;
	border-image: url("http://pageborders.org/files/images//green-heart-border-thumbnail.png") 30/0.7 repeat repeat;
}
.yellow {
	margin: 2px;
	border: 10px solid;
	border-image: url("http://pageborders.org/files/images//yellow-heart-border-thumbnail.png") 30/0.7 repeat repeat;
}
.red{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;	
	flex-direction:row;
	justify-content:center;	
	height: 80px;
	width: 95%;
	margin: 10px;
	border: 10px;
	border-image: url("http://pageborders.org/files/images//red-heart-border-thumbnail.png") 30/0.7 repeat repeat;
}
.blue{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	justify-content:center;
	float: left;
	margin: 10px;
	border: 10px;
	height: 45px;
	border-image: url("http://pageborders.org/files/images//blue-heart-border-thumbnail.png") 30/0.7 repeat repeat;
}
.green>.red>.blue:first-child, .green>.red>.blue:last-child{
	width: 22%;
}
.green>.red>.blue:nth-child(2){
	width: 43%;
}
.green>.red:nth-child(2){
	height: 50px;
}
.green>.red:nth-child(2)>.blue:first-child, .green>.red:nth-child(2)>.blue:last-child {
	width: 22%; height: 35%;
}
.green>.red:nth-child(2)>.blue:nth-child(2), .green>.red:nth-child(2)>.blue:nth-child(3) {
	width: 19.5%; height: 35%;
}
.green>.red:nth-child(3){
	height: 700px;
}
.green>.red:nth-child(3)>.blue:first-child{
	height: 95%; width: 22%;
}
.green>.red:nth-child(3)>.blue:nth-child(2){
	height: 95%; width: 69%;
}
.green>.red:nth-child(3)>.blue:nth-child(2)>.yellow:first-child{
	height: 75%;
}
.green>.red:nth-child(3)>.blue:nth-child(2)>.yellow:nth-child(2){
	height: 18%;
}
.green>.red:nth-child(4)>.blue:first-child, .green>.red:nth-child(4)>.blue:last-child{
	width: 22%;
}
.green>.red:nth-child(4)>.blue:nth-child(2){
	width: 43%
}